
cmake-build-debug/

scripts/VirtualProcess/__pycache__/
scripts/build/
scripts/.ipynb_checkpoints/
scripts/nengo_os/__pycache__/

scripts/neuro_os.egg-info/

*.sql

scripts/results/.DS_Store

scripts/results/run_result.sqlite

.DS_Store

scripts/scheduler_instructions.json

scripts/results/run_result_backup-0-.sqlite
scripts/results/run_result_*
